{% extends "header.html" %}

{% block body %}
<div class="container" >
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    	<form role="form" method="post" action="/register/">
			{% from "formhelp.html" import render_field %}
			{% from "formhelp.html" import render_checkbox_field %}
			<p style="color:white; font-size: 40px">Registra<text style="color:red;">tion Form</text></p>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					{{render_field(form.fname)}}
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					{{render_field(form.lname)}}
				</div>
			</div>
				{{render_field(form.username)}}
				{{render_field(form.email)}}
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					{{render_field(form.password)}}
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					{{render_field(form.confirm)}}
				</div>
			</div>
					{{render_checkbox_field(form.accept_tos)}}
			
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
				<div class="col-xs-12 col-md-6"><a href="/login/" class="btn btn-success btn-block btn-lg">Sign In</a></div>
			</div>
		</form>
		{% if error %}
			<p class="error"><strong>Error : </strong>{{error}}</p>
		{% endif %}
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
			</div>
			<div class="modal-body">
                            <p>No Terms and Conditions Apply</p>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
			</div>
		</div>
	</div>
</div>
</div>
{%endblock%}